<section class="footer-v2">
  <div class="w-layout-blockcontainer footer-container v2 w-container">
    <div class="footer-row-copy column"><a href="#" class="brand footer w-inline-block"><img src="{% static 'assets/Logo.png'}"
          loading="lazy" alt="" class="logo" /></a>
      <div class="footer-link-wrap"><a href="/about.html" class="footer-link light">About Us</a><a href="/services.html"
          class="footer-link light">Services</a><a href="/projects.html" class="footer-link light">Projects</a>
        <a href="/blogs.html" class="footer-link light">Blog</a>
      </div>
    </div>
    <div class="divider"></div>
    <div class="footer-row space-between"><a href="#" class="addditional-link light">© Integrated Spatial Solutions.
        All rights
        reserved.</a>
      <div class="addditional-link-wrap"><a href="#" class="addditional-link light">Privacy Policy</a><a href="#"
          class="addditional-link light">Terms and Conditions</a><a href="/template-pages/licenses"
          class="addditional-link light">Licenses</a></div>
    </div>
  </div>
</section>